

.block {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: orange;
    float: left;
    
}
#wrapper {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    margin: auto;
}
.selected {
    background-color: blue;
}
#button-wrapper {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}
button {
    display: inline-block;
}